:host {
    background: transparent !important;
}

[part="form"] {
    background: linear-gradient(135deg, #050816 0%, #07111F 35%, #001F3F 100%) !important;
    border-radius: 12px;
    padding: 20px;
}

[part="vaadin-login-form-wrapper"] {
    background: transparent !important;
}

